@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  background-color: #e6f5ff;
  color: rgb(29, 53, 87);
  font-family: "Libre Baskerville", serif;
}
h2 {
  font-family: "Kalam";
  font-weight: bold;
}
.cell {
  border: 4px solid rgb(168, 218, 220);
  min-width: 80px;
  min-height: 80px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 4px;
}
h5 {
  color: #e95b67;
  font-family: "Luckiest Guy", serif;
}
.hit {
  background: url("../img/shiplogo.jpg");
}
.miss {
  background: url("../img/misslogo.png");
  background-position: 50%, 50%;
  background-size: cover;
}
h1 {
  font-family: "Permanent Marker", cursive;
}
